body {
  background-color: #272b33 !important;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.locationCard {
  color: grey;
  font-weight: 800;
 
}

.a-card {
  text-decoration: none;
  color: grey;
  font-weight: 800;
  cursor: pointer;
}

.a-card:hover {
  color: chocolate;
}

.bgCard {
  background-color: #3c3e44 !important;
}

.statusCharacter{
  background: red;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.infoStatus{
  display: contents;
  margin-left: 5rem !important;
}